<div class="row dept" style="padding-top: 25px;">
    <div><strong>Dynamic Content</strong></div>
    <hr />
    <div class="row">
        <div class="small-2 column dept">Dept. No:</div>
        <div class="small-10 column dept">{{dept.Deptno}}</div>
    </div>
    <div class="row">
        <div class="small-2 column dept">Dept. Name:</div>
        <div class="small-10 column dept">{{dept.Dname}}</div>
    </div>
</div>
