<div class="container">
    <div>value of a :
        <input class="form-control" value="{{a}}" />
    </div>
    <div>value of b :
        <input class="form-control" [value]="b" />
    </div>
    <div>value of b :
        <input class="form-control" bind-value="b" />
    </div>
    <div>
        <img [src]="logoUrl" />
    </div>
    <div>
        <input class="form-control" [value]="a" [readonly]="aReadonly" />
        <button class="btn btn-default" [disabled]="aReadonly">Disabled Button</button>
        <button class="btn btn-default" [disabled]="!aReadonly">Enabled Button</button>
        <button class="btn btn-default" [disabled]="a > 15">Some 'a' Button</button>
        <button class="btn btn-default" [disabled]="b > 15">Some 'b' Button</button>
    </div>
</div>